In [31]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

In [9]:
data1 = pd.read_csv("matches.csv")

In [10]:
data1

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [7]:
data2 = pd.read_csv("deliveries.csv")

In [8]:
data2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [11]:
#the merged dataframe is: 

data = pd.merge(
    left=data1,
    right=data2,
    left_on='id',
    right_on='match_id'
)

In [12]:
data

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [41]:
#find the city with the maximum and minimum number of matches held there. 

H = data1.city.value_counts().nlargest(1)
L = data1.city.value_counts().nsmallest(1)
print("City with the highest number of matches is: ", H)
print("City with the lowest number of matches is: ", L)

City with the highest number of matches is:  Mumbai    101
Name: city, dtype: int64
City with the lowest number of matches is:  Bloemfontein    2
Name: city, dtype: int64

In [40]:
#find total count of matches city wise

T = data1.city.value_counts()
print("The number of matches in different cities is as follows:\n ", T)

The number of matches in different cities is as follows:
  Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Ahmedabad          12
Centurion          12
Mohali             10
Rajkot             10
Indore              9
Dharamsala          9
Johannesburg        8
Ranchi              7
Cuttack             7
Port Elizabeth      7
Abu Dhabi           7
Cape Town           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Kimberley           3
Nagpur              3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [39]:
#find the Team which is maximum and minimum toss winner.

A = data1.toss_winner.value_counts().nlargest(1)
B = data1.toss_winner.value_counts().nsmallest(1)
print("Team with the highest number of toss wins is:",A )
print("Team with the highest number of toss wins is:",B)

Team with the highest number of toss wins is: Mumbai Indians    98
Name: toss_winner, dtype: int64
Team with the highest number of toss wins is: Rising Pune Supergiant    6
Name: toss_winner, dtype: int64

In [64]:
#check the toss decision that the team has taken.

pd.crosstab(data1['toss_winner'], data1['toss_decision'])

toss_decision                bat  field
toss_winner
Chennai Super Kings           48     41
Deccan Chargers               24     19
Delhi Capitals                 2      8
Delhi Daredevils              29     51
Gujarat Lions                  1     14
Kings XI Punjab               26     55
Kochi Tuskers Kerala           3      5
Kolkata Knight Riders         30     62
Mumbai Indians                44     54
Pune Warriors                 11      9
Rajasthan Royals              32     48
Rising Pune Supergiant         0      6
Rising Pune Supergiants        3      4
Royal Challengers Bangalore   20     61
Sunrisers Hyderabad           20     26

In [55]:
#count the total number of normal and tie matches

C = data1.result.value_counts().head(2)
print("The total number of normal and tie matches are as follows:\n",C)

The total number of normal and tie matches are as follows:
 normal    743
tie         9
Name: result, dtype: int64

In [80]:
#find the team names where the match result is tie
pd.crosstab(data1['toss_winner'], data1['result']=='tie')

result                       False  True
toss_winner
Chennai Super Kings             88      1
Deccan Chargers                 43      0
Delhi Capitals                   9      1
Delhi Daredevils                80      0
Gujarat Lions                   14      1
Kings XI Punjab                 80      1
Kochi Tuskers Kerala             8      0
Kolkata Knight Riders           91      1
Mumbai Indians                  97      1
Pune Warriors                   20      0
Rajasthan Royals                79      1
Rising Pune Supergiant           6      0
Rising Pune Supergiants          7      0
Royal Challengers Bangalore     79      2
Sunrisers Hyderabad             46      0

In [66]:
#find the team name who won the match by highest runs

D = data1['winner'].loc[data1['win_by_runs'].idxmax]
print("The team to win by maximum runs is:",D)

The team to win by maximum runs is: Mumbai Indians

In [67]:
#find the team name who won the match by lowest runs

D = data1['winner'].loc[data1['win_by_runs'].idxmin]
print("The team to win by lowest runs is:",D)

The team to win by lowest runs is: Rising Pune Supergiant

In [72]:
#find the players who was awarded “Player of the match” more than 3 times.

score = 0
for index, row in data1.iterrows():
    if(row['win_by_runs'] == score):
        print(row['winner'])

Rising Pune Supergiant
Kolkata Knight Riders
Kings XI Punjab
Sunrisers Hyderabad
Mumbai Indians
Kings XI Punjab
Mumbai Indians
Kolkata Knight Riders
Mumbai Indians
Gujarat Lions
Mumbai Indians
Kolkata Knight Riders
Mumbai Indians
Gujarat Lions
Rising Pune Supergiant
Kolkata Knight Riders
Gujarat Lions
Kolkata Knight Riders
Mumbai Indians
Kings XI Punjab
Mumbai Indians
Rising Pune Supergiant
Delhi Daredevils
Rising Pune Supergiant
Delhi Daredevils
Kolkata Knight Riders
Gujarat Lions
Sunrisers Hyderabad
Delhi Daredevils
Sunrisers Hyderabad
Rising Pune Supergiant
Kolkata Knight Riders
Mumbai Indians
Delhi Daredevils
Royal Challengers Bangalore
Kolkata Knight Riders
Rajasthan Royals
Delhi Daredevils
Rajasthan Royals
Rajasthan Royals
Chennai Super Kings
Deccan Chargers
Kings XI Punjab
Mumbai Indians
Kings XI Punjab
Delhi Daredevils
Royal Challengers Bangalore
Rajasthan Royals
Kings XI Punjab
Deccan Chargers
Mumbai Indians
Chennai Super Kings
Rajasthan Royals
Mumbai Indians
Rajasthan Royals
Kings XI Punjab
Mumbai Indians
Mumbai Indians
Delhi Daredevils
Rajasthan Royals
Kings XI Punjab
Delhi Daredevils
Kolkata Knight Riders
Rajasthan Royals
Chennai Super Kings
Chennai Super Kings
Rajasthan Royals
Delhi Daredevils
Deccan Chargers
Rajasthan Royals
Kings XI Punjab
Delhi Daredevils
Deccan Chargers
Rajasthan Royals
Royal Challengers Bangalore
Delhi Daredevils
Rajasthan Royals
Kings XI Punjab
Royal Challengers Bangalore
Delhi Daredevils
Rajasthan Royals
Delhi Daredevils
Kings XI Punjab
Chennai Super Kings
Delhi Daredevils
Royal Challengers Bangalore
Mumbai Indians
Royal Challengers Bangalore
Kings XI Punjab
Chennai Super Kings
Deccan Chargers
Kolkata Knight Riders
Royal Challengers Bangalore
Kolkata Knight Riders
Delhi Daredevils
Deccan Chargers
Royal Challengers Bangalore
Delhi Daredevils
Kolkata Knight Riders
Delhi Daredevils
Royal Challengers Bangalore
Royal Challengers Bangalore
Chennai Super Kings
Royal Challengers Bangalore
Kings XI Punjab
Mumbai Indians
Mumbai Indians
Rajasthan Royals
Mumbai Indians
Chennai Super Kings
Royal Challengers Bangalore
Kings XI Punjab
Rajasthan Royals
Deccan Chargers
Kings XI Punjab
Deccan Chargers
Royal Challengers Bangalore
Kings XI Punjab
Chennai Super Kings
Royal Challengers Bangalore
Delhi Daredevils
Deccan Chargers
Kolkata Knight Riders
Chennai Super Kings
Kolkata Knight Riders
Royal Challengers Bangalore
Rajasthan Royals
Royal Challengers Bangalore
Mumbai Indians
Pune Warriors
Rajasthan Royals
Mumbai Indians
Kings XI Punjab
Pune Warriors
Kolkata Knight Riders
Kochi Tuskers Kerala
Kings XI Punjab
Delhi Daredevils
Kolkata Knight Riders
Kochi Tuskers Kerala
Mumbai Indians
Royal Challengers Bangalore
Rajasthan Royals
Royal Challengers Bangalore
Chennai Super Kings
Rajasthan Royals
Kolkata Knight Riders
Rajasthan Royals
Kochi Tuskers Kerala
Chennai Super Kings
Delhi Daredevils
Royal Challengers Bangalore
Pune Warriors
Pune Warriors
Royal Challengers Bangalore
Kings XI Punjab
Royal Challengers Bangalore
Kochi Tuskers Kerala
Deccan Chargers
Kolkata Knight Riders
Rajasthan Royals
nan
Royal Challengers Bangalore
Mumbai Indians
Chennai Super Kings
Mumbai Indians
Mumbai Indians
Delhi Daredevils
Mumbai Indians
Delhi Daredevils
Chennai Super Kings
Kings XI Punjab
Kolkata Knight Riders
Delhi Daredevils
Pune Warriors
Delhi Daredevils
Rajasthan Royals
Royal Challengers Bangalore
Kolkata Knight Riders
Delhi Daredevils
Royal Challengers Bangalore
Chennai Super Kings
Kings XI Punjab
Kolkata Knight Riders
Delhi Daredevils
Mumbai Indians
Mumbai Indians
Kolkata Knight Riders
Delhi Daredevils
Kings XI Punjab
Mumbai Indians
Royal Challengers Bangalore
Kolkata Knight Riders
Rajasthan Royals
Royal Challengers Bangalore
Chennai Super Kings
Chennai Super Kings
Kings XI Punjab
Mumbai Indians
Chennai Super Kings
Delhi Daredevils
Kings XI Punjab
Deccan Chargers
Delhi Daredevils
Mumbai Indians
Kolkata Knight Riders
Kolkata Knight Riders
Kings XI Punjab
Sunrisers Hyderabad
Chennai Super Kings
Royal Challengers Bangalore
Pune Warriors
Sunrisers Hyderabad
Chennai Super Kings
Rajasthan Royals
Royal Challengers Bangalore
Sunrisers Hyderabad
Chennai Super Kings
Royal Challengers Bangalore
Delhi Daredevils
Kings XI Punjab
Chennai Super Kings
Mumbai Indians
Chennai Super Kings
Kolkata Knight Riders
Rajasthan Royals
Rajasthan Royals
Sunrisers Hyderabad
Delhi Daredevils
Kolkata Knight Riders
Sunrisers Hyderabad
Kings XI Punjab
Rajasthan Royals
Royal Challengers Bangalore
Rajasthan Royals
Rajasthan Royals
Mumbai Indians
Kolkata Knight Riders
Rajasthan Royals
Kings XI Punjab
Mumbai Indians
Kings XI Punjab
Sunrisers Hyderabad
Rajasthan Royals
Mumbai Indians
Royal Challengers Bangalore
Kings XI Punjab
Rajasthan Royals
Royal Challengers Bangalore
Delhi Daredevils
Kings XI Punjab
Chennai Super Kings
Rajasthan Royals
Delhi Daredevils
Chennai Super Kings
Kings XI Punjab
Rajasthan Royals
Mumbai Indians
Rajasthan Royals
Royal Challengers Bangalore
Chennai Super Kings
Kolkata Knight Riders
Sunrisers Hyderabad
Chennai Super Kings
Kolkata Knight Riders
Rajasthan Royals
Mumbai Indians
Chennai Super Kings
Kings XI Punjab
Kolkata Knight Riders
Royal Challengers Bangalore
Kolkata Knight Riders
Kings XI Punjab
Sunrisers Hyderabad
Kolkata Knight Riders
Mumbai Indians
Sunrisers Hyderabad
Chennai Super Kings
Kolkata Knight Riders
Kings XI Punjab
Mumbai Indians
Chennai Super Kings
Kolkata Knight Riders
Kolkata Knight Riders
Royal Challengers Bangalore
Rajasthan Royals
Sunrisers Hyderabad
Rajasthan Royals
Kolkata Knight Riders
Delhi Daredevils
Rajasthan Royals
Chennai Super Kings
Kolkata Knight Riders
Rajasthan Royals
Kolkata Knight Riders
Kings XI Punjab
Royal Challengers Bangalore
Royal Challengers Bangalore
nan
Delhi Daredevils
Royal Challengers Bangalore
Mumbai Indians
Mumbai Indians
Kolkata Knight Riders
Delhi Daredevils
Royal Challengers Bangalore
Chennai Super Kings
nan
Mumbai Indians
Chennai Super Kings
Rising Pune Supergiants
Kolkata Knight Riders
Gujarat Lions
Mumbai Indians
Gujarat Lions
Delhi Daredevils
Kolkata Knight Riders
Gujarat Lions
Kings XI Punjab
Delhi Daredevils
Sunrisers Hyderabad
Kolkata Knight Riders
Mumbai Indians
Sunrisers Hyderabad
Sunrisers Hyderabad
Gujarat Lions
Kolkata Knight Riders
Mumbai Indians
Gujarat Lions
Mumbai Indians
Kolkata Knight Riders
Delhi Daredevils
Rising Pune Supergiants
Sunrisers Hyderabad
Royal Challengers Bangalore
Gujarat Lions
Mumbai Indians
Delhi Daredevils
Kings XI Punjab
Kolkata Knight Riders
Sunrisers Hyderabad
Royal Challengers Bangalore
Gujarat Lions
Delhi Daredevils
Rising Pune Supergiants
Gujarat Lions
Royal Challengers Bangalore
Royal Challengers Bangalore
Sunrisers Hyderabad
Chennai Super Kings
Kings XI Punjab
Kolkata Knight Riders
Sunrisers Hyderabad
Chennai Super Kings
Sunrisers Hyderabad
Royal Challengers Bangalore
Delhi Daredevils
Sunrisers Hyderabad
Kolkata Knight Riders
Kings XI Punjab
Royal Challengers Bangalore
Rajasthan Royals
Chennai Super Kings
Mumbai Indians
Kolkata Knight Riders
Kolkata Knight Riders
Mumbai Indians
Chennai Super Kings
Sunrisers Hyderabad
Kings XI Punjab
Sunrisers Hyderabad
Rajasthan Royals
Royal Challengers Bangalore
Chennai Super Kings
Rajasthan Royals
Royal Challengers Bangalore
Kolkata Knight Riders
Kolkata Knight Riders
Chennai Super Kings
Chennai Super Kings
Chennai Super Kings
Chennai Super Kings
Kolkata Knight Riders
Chennai Super Kings
Sunrisers Hyderabad
Kings XI Punjab
Delhi Capitals
Rajasthan Royals
Sunrisers Hyderabad
Kolkata Knight Riders
Delhi Capitals
Kolkata Knight Riders
Kings XI Punjab
Chennai Super Kings
Mumbai Indians
Chennai Super Kings
Delhi Capitals
Rajasthan Royals
Royal Challengers Bangalore
Chennai Super Kings
Mumbai Indians
Sunrisers Hyderabad
Rajasthan Royals
Delhi Capitals
Sunrisers Hyderabad
Delhi Capitals
Chennai Super Kings
Rajasthan Royals
Rajasthan Royals
nan
Mumbai Indians
Kolkata Knight Riders
Delhi Capitals
Royal Challengers Bangalore
Kings XI Punjab
Mumbai Indians
Mumbai Indians
Delhi Capitals
Chennai Super Kings

In [71]:
#find the player who was awarded as player of the match maximum times.

A = data1.player_of_match.value_counts().nlargest(1)
print("Player with the highest number of player of the match is:",A )

Player with the highest number of player of the match is: CH Gayle    21
Name: player_of_match, dtype: int64

In [ ]:
#)find the players who was awarded “Player of the match” more than 3 times.

In [75]:
#find the Venue where the team won the match by highest runs

A = data1['venue'].loc[data1['win_by_runs'].idxmax]
print("Venue where the team won with highest runs is:",A )

Venue where the team won with highest runs is: Feroz Shah Kotla

In [78]:
#find the Venue where the team won the match by lowest runs.

A = data1['venue'].loc[data1['win_by_runs'].idxmin]
print("Venue where the team won with lowest runs is:",A )

Venue where the team won with lowest runs is: Maharashtra Cricket Association Stadium

In [87]:
#find the Umpires who did umpiring maximum times.

In [93]:
#find the Total matches played in each season

A = data1.season.value_counts()
print("The total number of matches played in different seasons is as follows:\n",A)

The total number of matches played in different seasons is as follows:
 2013    76
2012    74
2011    73
2010    60
2014    60
2016    60
2018    60
2019    60
2015    59
2017    59
2008    58
2009    57
Name: season, dtype: int64

In [ ]:
#find the Total runs in each season

data1.season.value_counts(data1['season'])